<div class="row">
      <div class="col-12">
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            
            <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>
            
            <div class="mb-3">
              <label for="basic-url" class="form-label">Your vanity URL</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
              </div>
              <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
            </div>
            
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <span class="input-group-text">.00</span>
            </div>
            
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username">
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" placeholder="Server" aria-label="Server">
            </div>
            
            <div class="input-group mb-3">
              <span class="input-group-text">With textarea</span>
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
              <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
            
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
            
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button">Button</button>
              <button class="btn btn-outline-secondary" type="button">Button</button>
              <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons">
            </div>
            
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
              <button class="btn btn-outline-secondary" type="button">Button</button>
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
              <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect02">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label class="input-group-text" for="inputGroupSelect02">Options</label>
            </div>
            
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button">Button</button>
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            
            <div class="input-group">
              <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
      </div>
      
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">BarSide  Controller</h5>
            <div class="row">
              <div class="col-md-6">
                <button (click)="barThisStatus(true)" type="button" class="btn btn-sm btn-success mx-1">MenuBar Open</button>
                <button (click)="barThisStatus(false)" type="button" class="btn btn-sm btn-warning mx-1">MenuBar Close</button>
  
                <button (click)="barThisEnable(true)" type="button" class="btn btn-sm btn-info mx-1">MenuBar Enable</button>
                <button (click)="barThisEnable(false)" type="button" class="btn btn-sm btn-danger mx-1">MenuBar Disable</button>
              </div>
              <div class="col-md-6">
                <button (click)="barThatStatus(true)" type="button" class="btn btn-sm btn-success mx-1">TabsBar Open</button>
                <button (click)="barThatStatus(false)" type="button" class="btn btn-sm btn-warning mx-1">TabsBar Close</button>
  
                <button (click)="barThatEnable(true)" type="button" class="btn btn-sm btn-info mx-1">MenuBar Enable</button>
                <button (click)="barThatEnable(false)" type="button" class="btn btn-sm btn-danger mx-1">MenuBar Disable</button>
              </div>
            </div>
            
          </div>
        </div>
  </div>
    <div class="col-12">
      <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Loading Central</h5>
            
            <button (click)="addLoading(true)" type="button" class="btn btn-success mx-1">Loading Show</button>
            <button (click)="addLoading(false)" type="button" class="btn btn-warning mx-1">Loading Hide</button>
          </div>
        </div>
  </div>
      <div class="col-12">
          <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Message Central</h5>
                
                <button (click)="addMessage(1)" type="button" class="btn btn-success mx-1">Message Success</button>
                <button (click)="addMessage(2)" type="button" class="btn btn-warning mx-1">Message Warning</button>
                <button (click)="addMessage(3)" type="button" class="btn btn-danger mx-1">Message Danger</button>
                <button (click)="addMessage(4)" type="button" class="btn btn-info mx-1">Message Info</button>
                <button (click)="addMessage(5)" type="button" class="btn btn-light mx-1">Multi Message</button>
              </div>
            </div>
      </div>
      
      
  </div>
  